<!--
Evan Preisler - dex4zero4zone4
NUI Galway chat room
twitter @dex4zero4zone4
2014
-->
<a href="/">Home</a> </p>
<p id="demo"> <h2>Please enter your details</h2></p>
<form name="input" action="http://<!--your web address-->:<--port number-->/register" method="post">
	First Name:<br/> 				
	<input type="text" name="name"><br/>
	Surname:<br/> 
	<input type="text" name="surname"><br/>
	Email:<br/> 
	<input type="text" name="email"><br/>
	Gender:<br/> 
	<input type="text" name="gender"><br/>
	Date of Birth (YYYY-MM-DD):<br/> 
	<input type="text" name="DOB"><br/>
	Address (first line):<br/> 
	<input type="text" name="firAddr"><br/>
	Address (second line):<br/> 
	<input type="text" name="secAddr"><br/>
	City:<br/> 
	<input type="text" name="city"><br/>
	Country:<br/> 
	<input type="text" name="country"><br/> 
	Password:<br/> 
	<input type="password" 	name="pwd"><br/>
	<input type="submit" value="Add To User">
</form>
